@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  box-sizing: border-box;
}

html, body, :root {
  height: 100%;
}


.row {
  @apply flex justify-center items-center;
}

.row-h {
  @apply flex justify-center;
}

.row-v {
  @apply flex items-center;
}

.row-end {
  @apply flex justify-end;
}

.col-h {
  @apply flex flex-col justify-center;
}

.col-v {
  @apply flex flex-col items-center;
}

.inline-h {
  @apply inline-flex justify-center;
}

.pointer {
  @apply cursor-pointer;
}

.u {
  @apply uppercase;
}

.bg-img {
  @apply bg-cover bg-no-repeat bg-center;
}

.bold {
  @apply font-bold;
}

.semibold {
  @apply font-semibold;
}

.max-w-fit {
  max-width: fit-content;
}
